// app global css in SCSS form

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900


body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }